<h1 class="text-center mt-4 mb-4">Listing all articles</h1>

<div class="container-sm">
  <%= paginate @articles %>
  <% @articles.each do |article|%>
    <%= render 'article-card', article: article %>
  <% end %>
</div>

<br>

<div class="container-sm">
  <%= link_to 'New Article', new_article_path, class: "btn btn-outline-primary mb-4" %>
</div>
