<p id="notice"><%= notice %></p>

<h1 class="text-center mt-4 mb-4">Listing all articles</h1>

<div class="container-sm">
  <% @articles.each do |article|%>
    <%= render 'article-card', article: article %>
  <% end %>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
