<div class="container-sm mb-4">
  <h1 class="text-center mt-4">Create new Article</h1>
  <%= render 'form', article: @article %>
</div>
<div class="container text-center">
  <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info"  %>
</div>
