<div class="container-sm mb-4">
  <h1 class="text-center mt-4">Sign up for Alpha Blog</h1>
  <%= render 'signup-form', user: @user %>
</div>
<div class="container text-center">
  <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info"  %>
</div>