.action-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;

  a {
    text-decoration: transparent;
    color: white;
  }

  a:hover, :visited {
    background-color: transparent !important;
    color: white;
  }
}

.action-button-cancel {
  background-color: #e63946;
}

.action-button-edit {
  background-color: #0077b6;
}

.action-button-show {
  background-color: #f4a261;
}